{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block content %}
<div class="max-w-lg mx-auto h-[80vh] flex items-center">
  <div class="w-full">
    <div>
      <label for="search" class="block text-sm font-medium leading-6 text-gray-900">Quick search</label>
      <div class="relative mt-2 flex items-center">
        <input type="text" name="search" id="search" class="block w-full rounded-md border-0 py-1.5 pr-14 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
      </div>
    </div>
    <a 
      href="/search-results" 
      class="block text-center w-full mt-3 rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
    >
      Search
    </a>
  </div>
</div>
{% endblock content %}
